{% extends "base.jade" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cloud-browser.css">
  {% block cloud_browser_template_head %}{% endblock %}
  {% block extra_head %}{% endblock %}
{% endblock %}

{% block content %}
  <a href="{% url 'django.contrib.auth.views.logout' %}" class="pull-right">Cerrar sesión</a>
  <h1>
    <span class="kunder-logo black hover-green"></span>
    <small>Sistema de generación de reportes</small>
  </h1>

  {% block body %}
    {% block menu %}{% endblock %}
    <div id="cloud-browser-breadcrumbs" class="cloud-browser-defaults">
      {% block cloud_browser_breadcrumbs %}{% endblock %}
    </div>
    <div id="cloud-browser-content">
      {% block cloud_browser_content %}{% endblock %}
    </div>
  {% endblock %}
{% endblock %}
